@model UpdateMyTask;
@{



}
<div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 bg-light shadow-sm rounded d-flex justify-content-center mx-auto">

            <form method="Post" asp-controller="MyTask" asp-action="UpdateTask" style="width: 26rem;" class="p-4">

                <input hidden type="text" class="form-control" asp-for="MyTaskId" required />

                <div class="form-outline mb-4">
                    <label class="form-label">Task Name</label>
                    <input type="text" class="form-control" asp-for="TaskName" required />
                    <span asp-validation-for="TaskName" class="text-danger"></span>

                </div>

                <div class="form-outline mb-4">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" id="form4Example3" rows="2" asp-for="TaskDescription" required></textarea>
                    <span asp-validation-for="TaskDescription" class="text-danger"></span>

                </div>

                <div class="form-outline mb-4">
                    <lable class="category-label">Category</lable>
                    <select asp-for="MyTaskStatusId" class="form-select form-select-lg ">
                        @{
                            foreach (var item in Model.Tasks)
                            {
                                <option value="@item.MyTaskStatusId">@item.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="text-center mt-4 pt-2">
                    <button type="submit" class="btn btn-dark btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">
                        Update
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
		}